body{
padding:0px;
margin: 0px;
width: 100%;
position: relative;
box-sizing: border-box;
background:#EDF2F8;
}


/*


- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)
*/

.component-title{
    color: white;
    background:black;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;



}


.article-component{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: row;
    width:730px;
    height:280px;
    background:white;
    border-radius: 15px;
    box-shadow: 2px 2px 20px hsla(217, 19%, 35%, 0.24);

}

.article-img{
    flex-shrink: 0;
    width:285px;
    height:280px;
    background-image: url("../images/article/drawers.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius:inherit ;
    border-bottom-left-radius:inherit ;


}


.article-content{

    display: flex;
    flex-direction: column;
    padding:35px;
    padding-right: 55px;


}

.article-title{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    font-size:20px;
    margin-bottom: 15px;
    
}

.article-text{
    color: hsl(212, 23%, 69%);;
    font-size:13px;
    font-weight: 500;
}

.article-contact-details{
    margin-top: auto;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
  
}

.article-profile-image{
    width:40px;
    height:40px;

    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url("../images/article/avatar-michelle.jpg");
    margin-right:15px;

}

.article-details{
    display: flex;
    flex-direction: column;
  

}

.article-username{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    font-size:13px;
}

.article-date{
    color: hsl(212, 23%, 69%);
    font-size:13px;
    font-weight: 500;
}

.article-share-btn{
    margin-left: auto;
    width:30px;
    height:30px;
    background: #E9EEF4;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    

}
.article-share-btn svg{
    width: 15px;
    height:13px;
    margin-bottom: 2px;

}

.article-share-btn:hover{
    background: #6E8098;
}


.article-share-btn:hover svg path{
    fill:white;

}


.article-share-options{
    display: flex;
    flex-direction: row;
    width:250px;
    height:50px;
    background-color: #4A566C;
    position: absolute;
    right:-110px;
    bottom:60px;
    border-radius: 10px;
    align-items: center;


}

.article-share-options div:first-child{

    margin-left:auto;
    margin-right:10px;
}

.article-share-options div:last-child{
    display: flex;
    flex-direction: row;
    width:120px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    
}

.article-share-options:before{
    content: "";
    position: absolute;
    bottom: -24px;
    left:113px;
    z-index: 1;
    border:  12px solid transparent;
    border-top-color: #4A566C;
}

.article-share-options .share-text{
    color:#788397;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
}