body{
padding:0px;
margin: 0px;
width: 100%;
position: relative;
box-sizing: border-box;
background:#EDF2F8;
}


.component-title{
    color: white;
    background:black;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top:10px;


}


.component-title:first-child{
    margin-top:0px;
}